.spotDetailsImages {
  display: flex;
}

.previewImg {
  width: 50%;
  margin: 10px;
}

.detailsImg {
  flex-wrap: wrap;
  margin: 10px;
}

#reservationButton {
  width: fit-content;
  padding: 10px;
}
