#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  /* set themes later - curr === spring */
  background-color: rgba(158, 242, 248);
  border: 5px dotted rgb(220, 108, 126);
  border-radius: 30px;
  padding: 25px;
}

h1.header {
  display: flex;
  justify-content: center;
}

.inputs,
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 10px 5px;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* figure out how to change the width of JUST the log in and sign up modal submit buttons */
}
