.buttonsDiv {
  display: flex;
  gap: 10px;
}
.buttonsDiv > button {
  width: 50%;
  margin-top: 10px;
}

.infoDiv,
.price {
  font-size: 17px;
  margin: 5px 5px;
}

.createSpotButton {
  width: 250px;
  margin: 0px 40px;
}

.manageSpotsHeader {
  margin: 25px 40px;
}
@media screen and (min-width: 1600px) {
  .manageSpotsHeader {
    margin: 25px 80px;
  }
  .createSpotButton {
    margin: 0px 80px;
  }
}
