.spotAddDiv {
  width: 100%;
}
.spotName,
.spotAddress {
  margin: 10px 37px;
}

.spotPreviewDiv {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  padding: 15px;
}

.spotPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  border: 1px solid blue;
  background-color: rgba(135, 206, 235, 0.5);
  border-radius: 15px;
}

.previewImgDiv {
  display: flex;
  align-items: center;
}

#previewImage {
  width: 100%;
  border-radius: 10px;
}

.infoDiv {
  display: flex;
  justify-content: space-evenly;
  color: black;
}
.cityState {
  width: 50%;
}
.avgStarRating {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.priceButton {
  border: 1px solid rgb(150, 47, 240);
  color: rgb(48, 4, 102);
  font-weight: bold;
  align-self: flex-end;
  padding: 10px 7px;
  font-size: 13px;
  width: 100%;
  /* align-self: flex-end; */
}

/* sizing changes */
@media screen and (max-width: 750px) {
  .spotPreviewDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .spotPreview {
    width: 90%;
    margin-bottom: 25px;
    font-size: 15px;
  }
  .infoDiv {
    font-size: 10px;
  }
}
@media screen and (min-width: 751px) {
  .spotPreviewDiv {
    justify-content: space-between;
  }
  .spotPreview {
    margin: 15px 10px;
    width: 20%;
  }
  .infoDiv {
    font-size: 15px;
  }
}
@media screen and (min-width: 900px) {
  .spotPreviewDiv {
    justify-content: left;
  }
  .spotPreview {
    margin: 15px 5px;
    width: 20%;
    font-size: 20px;
  }
  .infoDiv {
    font-size: 13px;
  }
}
@media screen and (min-width: 1600px) {
  .spotPreviewDiv {
    margin-left: 50px;
  }
  .spotPreview {
    margin: 15px 15px;
    font-size: 30px;
  }
  .infoDiv {
    font-size: 20px;
  }
}
