/* TODO Add site wide styles */
body {
  background-color: rgba(31, 235, 123, 0.35);
  /* padding: 10px; */
  align-content: center;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
}

a:link,
a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

input,
.input,
button {
  background-color: rgba(126, 106, 242, 0.25);
  border: 1px solid skyblue;
  color: rgb(95, 79, 237);
  padding: 15px;
}
button {
  border-radius: 20px;
  padding: 10px 5px;
  width: 70px;
}
button:hover {
  cursor: pointer;
}

.errors {
  color: purple;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* ! add themeing for colorBlind variants to standard themes */
